  @tailwind base;
  @tailwind components;
  @tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black; 
  color: #fff;
}

html,body{
  width: 100%;
  height: 100%;
}

.expert .expertise li::before {
  content: "\2192";
  color: #fff;
  font-weight: 700;
  margin-right: 0.4rem;
}
.expert .horLine{ 
  border-left: 3px solid white;
  opacity: 0.3;
  border-radius: 50%;
  height: 1050px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}
.expert ul .left{
  text-align: left;
  margin-left: 55%;
}
.expert .lineL {
  border-left: 3px solid white;
  opacity: 0.2;
  border-radius: 50%;
  width: 400px;
  margin-left: -75px;
}
.expert ul .right{
  text-align: right;
  margin-right: 55%;
}
.expert .lineR {
  border-left: 3px solid white;
  opacity: 0.2;
  border-radius: 50%;
  width: 500px;
  margin-left: 238px;
}
.aLine{
  position: relative;
}

@media (max-width: 640px) {
  .expert .horLine{
    height: 1540px;
    left: 5%;
  }
  .aLine{
    left: 2%;
    width: 150px;
    opacity: 0.3;
  }
  .start {
    margin: -10px ;
  }
  .many {
    margin-bottom: -12px;
  }
  .expert ul .left{
    text-align: center;
    margin-left: 3%;
    padding: 15px;
  }
  .expert .lineL {
    width: 330px;
    margin-left: -5%;
  }
  .expert ul .right{
    text-align: center;
    margin-right: 3%;
    padding: 15px;
  }
  .expert .lineR {
    width: 330px;
    margin-left: -5%;
  }
}